<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Online Judge
    </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome-all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css.map" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <!--start of Navigation bar-->
    <div id="nav-placeholder">
    </div>
    <script>
      var loggedIn = {{ .Login}};
      if(loggedIn) {
        $(function() {
          $("#nav-placeholder").load("/navLoggedIn.html");
        }
         );
      }
      else {
        $(function() {
          $("#nav-placeholder").load("/navLoggedOut.html");
        }
         );
      }
    </script>
    <!--end of Navigation bar-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js">
    </script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js">
    </script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js">
    </script>
  </head>

<body>
<style>
.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant,
.form-dark {
    position: relative;
    height: 604px;
    overflow-y: scroll;
}

.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #82B1FF; }

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }

.anyClass {
  height:200px;
  overflow-y: scroll;
}

#imageURLId {
  font-size: 14px;
  font-weight: normal;
  resize: none;
  overflow-y: scroll;
}
</style>

<div class="container-fluid" style="width: 90%; margin-top: 50px;">
  <form id = "form" enctype="multipart/form-data">
    <div class="jumbotron">

      <!-- header -->
      <h4 class="h4-responsive">New Problem</h4> <br>

      <!-- name -->
      <div class="md-form">
        <input type="text" id="name" name="name" class="form-control">
        <label for="name" class="">Problem Name </label>
      </div><br>

      <!-- description -->
      <div class="md-form">
        <textarea class="md-textarea scrollbar-light-blue" type="text" style="max-height:300px; min-height:300px; overflow-y:scroll" id="description" name="description" rows="100" cols="100" ></textarea>
        <label for="description" class="">Problem Description </label>
      </div><br>

      <!-- input -->
      <div class="md-form">
        <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="input" name="input" ></textarea>
        <label for="input" class="">Input</label>
      </div><br>

      <!--  output -->
      <div class="md-form">
        <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="output" name="output" ></textarea>
        <label for="output" class="">Output</label>
      </div><br>

      <!-- sample input and output -->
      <div class="row">
        <div class="col-md-6">
          <!-- sample input -->
          <div class="md-form">
            <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="sample_input" name="sample_input" ></textarea>
            <label for="sample_input" class="">Sample Input</label>
          </div><br>
        </div>
        <div class="col-md-6">
          <!--  sample output -->
          <div class="md-form">
            <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="sample_output" name="sample_output" ></textarea>
            <label for="sample_output" class="">Sample Output</label>
          </div><br>
        </div>
      </div>

      <!-- notes -->
      <div class="md-form">
        <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="notes" name="notes" rows="100" cols="100" ></textarea>
        <label for="notes" class="">Notes</label>
      </div><br>

      <!-- judge data -->
      <div id = "dataset">
      </div><br>

      <button id="add">Add Dataset</button>

      <!-- button -->
      <div class="text-center">
        <button id = "submit" class="btn btn-primary">Submit </button>
      </div>

    </div>
  </form>
</div>

<script>
    $('#submit').click(function(){
      var contest = {{.Contest}};
      $('#form').attr({
        'action': '/contests/' + contest["ContestId"] + '/new',
        'method': 'post'
      });
    });

    $('#add').click(function() {

//        var inp = '<div class="a"> <div class="col md-6 form-group"> <label for="data">Input File</label> <input type="file" class="form-control-file" id="data" name="input_data[]" required="true"> </div>';
 //       var op =  '<div class="col-md-6 form-group"> <label for="data">Output File</label> <input type="file" class="form-control-file" id="data" name="output_data[]" required="true"> </div>';
  //      var removeButton = $(<input type="button" class="remove" value="-">);

//        $('#dataset').append('<div id="tahsin"><h1>asdfasfasdf</h1></div>');
//        $('#tahsin').append(inp);
 //       $('#tahsin').append(op);
  //      $('#tahsin').append(removeButton);
          $('#dataset').append('<div class="row"><div class="col-md-5 form-group"> <label for="data">Input File</label> <input type="file" class="form-control-file" id="data" name="input_data[]" required="true"> </div><div class="col-md-5 form-group"> <label for="data">Output File</label> <input type="file" class="form-control-file" id="data" name="output_data[]" required="true"> </div><div class="col-md-2 form-group"><br><button onclick="removefunc(this)">remove</button></div></div>');

    });

</script>

<script>
function removefunc (e) {
  e.parentNode.parentNode.removeChild(e.parentNode);
}
</script>
</body>
