<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Online Judge</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome-all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css.map" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


  <div id="nav-placeholder">
    <nav class="mb-3 navbar navbar-expand-lg navbar-dark elegant-color">
        <a class="navbar-brand" href="/">Online-Judge</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul id="navitem" class="navbar-nav mr-auto">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/contests">Contests <span class="sr-only">(current)</span></a>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                      <a class="dropdown-item" href="#">My account</a>
                      <a class="dropdown-item" href="/signout">Log out</a>
                  </div>
                </li>
            </ul>
        </div>
    </nav>
  </div>

    <script>
    var loggedIn = {{.Login}};
    var contest = {{.Contest}}
    if(loggedIn) {
        $(function() {
            //$("#nav-placeholder").load("/navLoggedIn.html");
            var contset = {{.Contest}}
            console.log(contest["Id"]);
            $("#navitem").append('<a class="nav-link" href="/contests/' + contest["Id"] + '">Dashboard<span class="sr-only">(current)</span></a>');
            $("#navitem").append('<a class="nav-link" href="/contests/' + contest["Id"] + '/rank">Standings<span class="sr-only">(current)</span></a>');
        });
    } else {
        $(function() {
            $("#nav-placeholder").load("/navLoggedOut.html");
        });
    }
    </script>
    <!--end of Navigation bar-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="container-fluid">
        <br>
        <h2 class="h2-responsive text-center">CSE-101 Lab-1</h2><br>
    </div>
    <div class="container-fluid jumbotron" id="status">
        <h4 class="h4-responsive text-left">Problem A</h4><br>
        <h4 class="h4-responsive text-left">Filtered 20%</h4><br>
        <table class="table table-hover" style="empty-cells: show;">
            <!--Table head-->
            <thead>
                <tr id="table-head">
                    <th class="text-center">#</th>
                    <th class="text-center">Possible Origin</th>
                    <th class="text-center">Submission</th>
                    <th class="text-center">Possible Destination</th>
                    <th class="text-center">Submission</th>
                    <th class="text-center">Percentage Matched</th>
                    <th class="text-center">Lines Matched</th>
                </tr>
            </thead>
            <tbody id="table-1">
<tr>
    <td class="text-center">1</td>
    <td class="text-center">rasel</td>
    <td class="text-center"><a class="blue-text" href="">601</a></td>
    <td class="text-center">jami</td>
    <td class="text-center"><a class="blue-text" href="">631</a></td>
    <td class="text-center">99</td>
    <td class="text-center">30</td>
</tr>
<tr>
    <td class="text-center">2</td>
    <td class="text-center">upol</td>
    <td class="text-center"><a class="blue-text" href="">649</a></td>
    <td class="text-center">muktadir</td>
    <td class="text-center"><a class="blue-text" href="">675</a></td>
    <td class="text-center">96</td>
    <td class="text-center">9</td>
</tr>
<tr>
    <td class="text-center">3</td>
    <td class="text-center">nijhum</td>
    <td class="text-center"><a class="blue-text" href="">527</a></td>
    <td class="text-center">jami</td>
    <td class="text-center"><a class="blue-text" href="">631</a></td>
    <td class="text-center">43</td>
    <td class="text-center">12</td>
</tr>
<tr>
    <td class="text-center">4</td>
    <td class="text-center">nijhum</td>
    <td class="text-center"><a class="blue-text" href="">527</a></td>
    <td class="text-center">rasel</td>
    <td class="text-center"><a class="blue-text" href="">601</a></td>
    <td class="text-center">42</td>
    <td class="text-center">14</td>
</tr>
<tr>
    <td class="text-center">5</td>
    <td class="text-center">nijhum</td>
    <td class="text-center"><a class="blue-text" href="">527</a></td>
    <td class="text-center">rushnan</td>
    <td class="text-center"><a class="blue-text" href="">779</a></td>
    <td class="text-center">22</td>
    <td class="text-center">4</td>
</tr>
            </tbody>
        </table>
    </div>
</div>

<script>
var submissions = {{.Submissions}};

console.log(submissions);


for(var i = 0; submissions != null && i < submissions.length; i++) {
var color="danger";
var current = submissions[i]["Status"];
if (current == "Accepted") {
    color = "success";
} else if (current == "pending") {
    color = "default";
}
var table1 = `
<tr>
    <td class="text-center">${submissions[i]["Id"]}</td>
    <td class="text-center">${submissions[i]["UserName"]}</td>
    <td class="text-center">${submissions[i]["Name"]}</td>
    <td class="text-center">${submissions[i]["Time"]}</td>
    <td class="text-center">${submissions[i]["Language"]}</td>
    <td class="text-center">${submissions[i]["Points"]}</td>
    <td class="text-center"> <h5 class="h5-responsive badge badge-${color}">${submissions[i]["Status"]}</h5> </td>
</tr>
`;
$('#table-1').append(table1);
}
</script>

</body>
