<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Judge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>

<!--start of Navigation bar-->
<div id="nav-placeholder"> </div>

<script>
var loggedIn = {{.Login}};
if(loggedIn) {
    $(function() {
          $("#nav-placeholder").load("navLoggedIn.html");
    });
} else {
    $(function() {
          $("#nav-placeholder").load("navLoggedOut.html");
    });
}
</script>
<!--end of Navigation bar-->

<div class="container">
  <h2>Register</h2>
  <form class="form-horizontal" action="/signup" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-5">
        <input type="name" required ="true" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-5">
        <input type="username" required ="true" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-5">
        <input type="password" required="true" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="confirm_password">Confirm Password:</label>
      <div class="col-sm-5">
        <input type="password" required="true" class="form-control" id="confirm_password" placeholder="Confirm password" name="confirm_password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <script>
    var password = document.getElementById("password") , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

    var username = document.getElementById("username");
    function validateUsername() {
        console.log("hello");
        console.log(username.value);
        if(username.value == 0) {
            console.log("empty");
            username.setCustomValidity("Username can't be empty");
        } else {
            username.setCustomValidity('');
        }
    }

  </script>

</div>

</body>
</html>


</body>
</html>
