<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Online Judge
    </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome-all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css.map" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <!--start of Navigation bar-->
  <div id="nav-placeholder">
    <nav class="mb-3 navbar navbar-expand-lg navbar-dark elegant-color">
        <a class="navbar-brand" href="/">Online-Judge</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul id="navitem" class="navbar-nav mr-auto">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/contests">Contests <span class="sr-only">(current)</span></a>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                      <a class="dropdown-item" href="#">My account</a>
                      <a class="dropdown-item" href="/signout">Log out</a>
                  </div>
                </li>
            </ul>
        </div>
    </nav>
  </div>

    <script>
    var loggedIn = {{.Login}};
    var contest ={{.Contest}};
    console.log(contest);
    if(loggedIn) {
        $(function() {
            //$("#nav-placeholder").load("/navLoggedIn.html");
            console.log(contest["Id"]);
            $("#navitem").append('<a class="nav-link" href="/contests/' + contest["Id"] + '">Dashboard<span class="sr-only">(current)</span></a>');
            $("#navitem").append('<a class="nav-link" href="/contests/' + contest["Id"] + '/rank">Standings<span class="sr-only">(current)</span></a>');
        });
    } else {
        $(function() {
            $("#nav-placeholder").load("/navLoggedOut.html");
        });
    }
    </script>

    <!--end of Navigation bar-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js">
    </script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js">
    </script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js">
    </script>
  </head>
  <body>
    <div class="container-fluid" style="width: 90%; margin-top: 50px;">
      <form id = "form">
        <div class="jumbotron">
          <h4 class="h4-responsive">Basic Information
          </h4>
          <br>

          <!--First row-->
          <div class="row">
              <div class="col-md-9">
                  <div class="md-form">
                    <input value={{.Contest.Name}} type="text" id="name" name="name" class="form-control" required="true">
                    <label for="name" class="">Contest Name </label>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="md-form">
                    <input value={{.Contest.Password}} type="text" id="password" name="password" class="form-control">
                    <label for="password" class="">Contest Password </label>
                  </div>
              </div>
          </div>
          <br>
          <!--Third row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-3">
              <div class="md-form">
                <input value={{.Contest.StartDate}} type="text" placeholder="yyyy-mm-dd" name="date" id="date" class="form-control" required="true">
                <label for="date" class="">Start Date
                </label>
              </div>
            </div>
            <!--Second column-->
            <div class="col-md-3">
              <div class="md-form">
                <input value={{.Contest.StartTime}} type="text" placeholder="hh:mm" name="time" id="time" class="form-control" required="true">
                <label for="time" class="">Start Time </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="md-form">
                <input value={{.Contest.Duration}} type="text" placeholder="hh:mm" name="duration" id="duration" class="form-control" required="true">
                <label for="duration" class="">Duration </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="md-form">
                <input value={{.Contest.Manager}} type="text" name="manager" id="manager" class="form-control" required="true">
                <label for="manager" class="">Contest Manager </label>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button id = "submit" class="btn btn-primary">Update </button>
        </div>
      </form>
    </div>
  </body>
  <script>
    $('#submit').click(function(){
      var path = window.location.pathname;
      var contest = {{.Contest}};
        console.log(contest)
      $('#form').attr({
        'action': '/contests/' + contest["Id"] + '/update',
        'method': 'post'
      });
    });

  </script>
</html>

