<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Online Judge
    </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome-all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css.map" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <!--start of Navigation bar-->
  <div id="nav-placeholder">
    <nav class="mb-3 navbar navbar-expand-lg navbar-dark elegant-color">
        <a class="navbar-brand" href="/">Online-Judge</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul id="navitem" class="navbar-nav mr-auto">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/contests">Contests <span class="sr-only">(current)</span></a>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                      <a class="dropdown-item" href="#">My account</a>
                      <a class="dropdown-item" href="/signout">Log out</a>
                  </div>
                </li>
            </ul>
        </div>
    </nav>
  </div>

    <script>
    var loggedIn = {{.Login}};
    var contest ={{.Contest}};
    if(loggedIn) {
        $(function() {
            //$("#nav-placeholder").load("/navLoggedIn.html");
            console.log(contest["Id"]);
            $("#navitem").append('<a class="nav-link" href="/contests/' + contest["Id"] + '">Dashboard<span class="sr-only">(current)</span></a>');
            $("#navitem").append('<a class="nav-link" href="/contests/' + contest["Id"] + '/rank">Standings<span class="sr-only">(current)</span></a>');
        });
    } else {
        $(function() {
            $("#nav-placeholder").load("/navLoggedOut.html");
        });
    }
    </script>

    <!--end of Navigation bar-->
    <!--end of Navigation bar-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js">
    </script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js">
    </script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js">
    </script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js">
    </script>
</head>

<body>
    <style>
        .form-elegant .font-small {
            font-size: 0.8rem;
        }
        
        .form-elegant .z-depth-1a {
            -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
            box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
        }
        
        .form-elegant .z-depth-1-half,
        .form-elegant .btn:hover {
            -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
            box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
        }
        
        .form-elegant,
        .form-dark {
            position: relative;
            height: 604px;
            overflow-y: scroll;
        }
        
        .form-dark .font-small {
            font-size: 0.8rem;
        }
        
        .form-dark [type="radio"] + label,
        .form-dark [type="checkbox"] + label {
            font-size: 0.8rem;
        }
        
        .form-dark [type="checkbox"] + label:before {
            top: 2px;
            width: 15px;
            height: 15px;
        }
        
        .form-dark .md-form label {
            color: #fff;
        }
        
        .form-dark input[type=text]:focus:not([readonly]) {
            border-bottom: 1px solid #00C851;
            -webkit-box-shadow: 0 1px 0 0 #00C851;
            box-shadow: 0 1px 0 0 #00C851;
        }
        
        .form-dark input[type=text]:focus:not([readonly]) + label {
            color: #fff;
        }
        
        .form-dark input[type=password]:focus:not([readonly]) {
            border-bottom: 1px solid #00C851;
            -webkit-box-shadow: 0 1px 0 0 #00C851;
            box-shadow: 0 1px 0 0 #00C851;
        }
        
        .form-dark input[type=password]:focus:not([readonly]) + label {
            color: #fff;
        }
        
        .form-dark input[type="checkbox"] + label:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 17px;
            height: 17px;
            z-index: 0;
            border: 1.5px solid #fff;
            border-radius: 1px;
            margin-top: 2px;
            -webkit-transition: 0.2s;
            transition: 0.2s;
        }
        
        .form-dark input[type="checkbox"]:checked + label:before {
            top: -4px;
            left: -3px;
            width: 12px;
            height: 22px;
            border-style: solid;
            border-width: 2px;
            border-color: transparent #00c851 #00c851 transparent;
            -webkit-transform: rotate(40deg);
            -ms-transform: rotate(40deg);
            transform: rotate(40deg);
            -webkit-backface-visibility: hidden;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        
        .scrollbar-light-blue::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #F5F5F5;
            border-radius: 10px;
        }
        
        .scrollbar-light-blue::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        .scrollbar-light-blue::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #82B1FF;
        }
        
        .scrollbar-dusty-grass::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #F5F5F5;
            border-radius: 10px;
        }
        
        .scrollbar-dusty-grass::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        .scrollbar-dusty-grass::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
            background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        }
        
        .square::-webkit-scrollbar-track {
            border-radius: 0 !important;
        }
        
        .square::-webkit-scrollbar-thumb {
            border-radius: 0 !important;
        }
        
        .thin::-webkit-scrollbar {
            width: 6px;
        }
        
        .anyClass {
            height: 200px;
            overflow-y: scroll;
        }
        
        #imageURLId {
            font-size: 14px;
            font-weight: normal;
            resize: none;
            overflow-y: scroll;
        }
    </style>


    <div class="container-fluid" style="width: 90%; margin-top: 50px;">
        <!-- header -->
        <h4 class="h4-responsive">Update Problem</h4>
        <br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="statement-tab" data-toggle="tab" href="#statement" role="tab" aria-controls="statement" aria-selected="true">Statement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tests-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="tests" aria-selected="false">Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="limits-tab" data-toggle="tab" href="#limits" role="tab" aria-controls="limits" aria-selected="false">Limits</a>
            </li>
            <!-->
            <li class="nav-item">
                <a class="nav-link" id="solutions-tab" data-toggle="tab" href="#solutions" role="tab" aria-controls="solutions" aria-selected="false">Solutions</a>
            </li>
            -->
        </ul>
        <br>
        <br>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="statement" role="tabpanel" aria-labelledby="statement-tab">
                <form id="description-form" enctype="multipart/form-data">
                    <!-- name -->
                    <div class="md-form">
                        <input value={{.Problem.Name}} type="text" id="name" name="name" class="form-control" required="true">
                        <label for="name" class="">Problem Name </label>
                    </div>
                    <br>

                    <!-- description -->
                    <div class="md-form">
                        <br>
                        <br>
                        <textarea class="md-textarea scrollbar-light-blue" type="text" style="max-height:300px; min-height:300px; overflow-y:scroll" id="description" name="description" rows="100" cols="100" required="true">{{.Problem.Description}}</textarea>
                        <label for="description" class="">Problem Description </label>
                    </div>
                    <br>

                    <!-- input -->
                    <div class="md-form">
                        <br>
                        <br>
                        <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="input" name="input" required="true">{{.Problem.Input}}</textarea>
                        <label for="input" class="">Input</label>
                    </div>
                    <br>

                    <!--  output -->
                    <div class="md-form">
                        <br>
                        <br>
                        <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="output" name="output" required="true">{{.Problem.Output}}</textarea>
                        <label for="output" class="">Output</label>
                    </div>
                    <br>

                    <!-- sample input and output -->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- sample input -->
                            <div class="md-form">
                                <br>
                                <br>
                                <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="sample_input" name="sample_input" required="true">{{.Problem.SampleInput}}</textarea>
                                <label for="sample_input" class="">Sample Input</label>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <!--  sample output -->
                            <div class="md-form">
                                <br>
                                <br>
                                <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="sample_output" name="sample_output" required="true">{{.Problem.SampleOutput}}</textarea>
                                <label for="sample_output" class="">Sample Output</label>
                            </div>
                            <br>
                        </div>
                    </div>

                    <!-- notes -->
                    <div class="md-form">
                        <br>
                        <br>
                        <textarea class="md-textarea scrollbar-light-blue" type="text" style="overflow-y:scroll" id="notes" name="notes" rows="100" cols="100">{{.Problem.Notes}}</textarea>
                        <label for="notes" class="">Notes</label>
                    </div>
                    <br>
                    <!-- button -->
                    <div class="text-center">
                        <button id="description-button" class="btn btn-primary">Update Description </button>
                    </div>
                    <br><br><br><br><br>
                </form>
            </div>
            <div class="tab-pane fade" id="tests" role="tabpanel" aria-labelledby="tests-tab">
				<div id="tests-div">
					<!--Table-->
					<table class="table table-hover">
						<!--Table head-->
						<thead>
							<tr>
								<th>#</th>
								<th>Label</th>
								<th>Input</th>
								<th>Output</th>
								<th>Weight</th>
								<th>Update</th>
							</tr>
						</thead>
						<tbody id="list">
						</tbody>
					</table>

					<!-- judge data -->
					<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header text-center">
									<h4 class="modal-title w-100 font-weight-bold">New Test</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body mx-3">
									<form id="new_test_form" enctype="multipart/form-data">
										<div class="md-form mb-5">
											<input type="text" id="label" name="label[]" class="form-control" required="true">
											<label data-error="wrong" data-success="right" for="label">Label</label>
										</div>
										<div class="md-form mb-5">
											<input type="file" id="input-file" class="form-control" name="input_data[]" required="true">
										</div>
										<div class="md-form mb-5">
											<input type="file" id="output-file" class="form-control" name="output_data[]" required="true">
										</div>
										<div class="md-form mb-5">
											<input type="text" id="weight" name="weight[]" class="form-control" required="true">
											<label data-error="wrong" data-success="right" for="weight">Weight</label>
										</div>
									</form>
								</div>
								<!--onclick="add_new_test_func()"-->
								<div class="modal-footer d-flex justify-content-center">
									<button type="button" class="btn btn-default" id="new_test_button" >Add</button>
								</div>
							</div>
						</div>
					</div>

					<div class="text-center">
						<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Add New Test</a>
					</div>

					<div id="dataset">
					</div>
					<br>
				</div>
            </div>
            <div class="tab-pane fade" id="limits" role="tabpanel" aria-labelledby="limits-tab">
                <form id="limits-form" enctype="multipart/form-data">
					<div class="md-form">
						<input type="text" value={{.Problem.TimeLimit}} id="timelimit" name="timelimit" class="form-control" required="true">
						<label for="timelimit" class="">Time Limit (S)</label>
					</div>
					<div class="md-form">
						<input type="text" value={{.Problem.MemoryLimit}} id="memorylimit" name="memorylimit" class="form-control" required="true">
						<label for="memorylimit" class="">Memory Limit (MB)</label>
					</div>
                    <!-- button -->
                    <div class="text-center">
                        <button id="limits-button" class="btn btn-primary">Update Limits </button>
                    </div>
				</form>
            </div>
            <div class="tab-pane fade" id="solutions" role="tabpanel" aria-labelledby="solutions-tab">
            </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
<script>
	/*
	$(document).ready(function() {
		$('#limits-tab').on("click", function() {
			//console.log("clicked limits tab");
			//$('#limits-div').show();
			$('#tests-div').hide();
		});
	});
	$(document).ready(function() {
		$('#tests-tab').on("click", function() {
			//console.log("clicked limits tab");
			//$('#limits-div').hide();
			$('#tests-div').show();
		});
	});
*/

    var problem = {{.Problem}};
    var Data;
    get_list();

    // delete dataset
    function btn_click(index) {
        console.log(index);
        console.log(Data[index]);
        console.log(url);
        var url = location.href + '/' + Data[index]["Id"];
        //var url = "/";
        $.ajax({
          type: "DELETE",
          //type: "GET",
          url: url,
          success: function() {
            get_list();
          },
        });
    }

    function get_list() {
        console.log(location);
        var url = '/contests/' + {{.Contest.Id}} + '/' + {{.Problem.ProblemId}} + '/tests';
        console.log(url);
        var new_data = $.parseJSON($.ajax({
          type: "GET",
          url: url,
          datatype: "json",
          async: false,
        }).responseText);
        console.log("new_data");
        console.log(new_data);

        show_table(new_data);
    }

    function show_table(dataset) {
        Data = dataset;
        var problem = {{.Problem}};
        $("#list").empty();
        for(var i=0;dataset != null && i<dataset.length;i++)
        {
            var t1 = '<tr>'
            var t2 = '<th scope="row">' + (i+1) + '</th>';
            var t3 = '<td>' + dataset[i]["Label"] + '</td>';
            var t4 = '<td><a class="blue-text" href="/contests/' + problem["ContestId"] +  '/' + problem["ProblemId"] + '/dload/in/' + dataset[i]["Id"] + '">' + 'input-' + (i+1) + '</a></td>';
            var t5 = '<td><a class="blue-text" href="/contests/' + problem["ContestId"] +  '/' + problem["ProblemId"] + '/dload/out/' + dataset[i]["Id"] + '">' + 'output-' + (i+1) + '</a></td>';
            var t6 = '<td>' + dataset[i]["Weight"] + '</td>';
            var t7 = '<td><input type="button" href="" class="btn btn-default btn-rounded mb-4" id="edit-update" style="padding: 10px; background-color: #4CAF50" value="Remove" index="' + i + '" onclick="btn_click('+i+')"></td>';
            var t8 = '</tr>';
            $("#list").append(t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8);
        }
    }
     $('#new_test_button').click(function() {
        console.log("hello");
        var url = '/contests/' + {{.Contest.Id}} + '/' + {{.Problem.ProblemId}} + '/tests';
         var form = $('#new_test_form');
         console.log(form[0]);
         var formdata = new FormData(form[0]);
            //data: $("#new_test_form").serialize(),
        $.ajax({
            url: url,
            data: formdata,
            type: 'POST',
            async: false,
            processData: false,
            contentType: false,
            success: function() {
                $('#modalLoginForm').modal('hide');
                get_list();
            }
        });
     });

</script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
        <script>
            $('#description').summernote({
                placeholder: 'Problem Description',
                tabsize: 2,
                height: 100
            });
            $('#input').summernote({
                placeholder: 'Input Specification',
                tabsize: 2,
                height: 100
            });
            $('#output').summernote({
                placeholder: 'Output Specification',
                tabsize: 2,
                height: 100
            });
            $('#sample_input').summernote({
                placeholder: 'Sample Input',
                tabsize: 2,
                height: 100
            });
            $('#sample_output').summernote({
                placeholder: 'Sample Output',
                tabsize: 2,
                height: 100
            });
            $('#notes').summernote({
                placeholder: 'Notes',
                tabsize: 2,
                height: 100
            });
        </script>

        <script>
            $('#description-button').click(function() {
                var contest = {{.Contest }};
                var problem = {{.Problem }};
                $('#description-form').attr({
                    'action': '/contests/' + contest["Id"] + '/' + problem["ProblemId"] + '/update/description',
                    'method': 'post'
                });
            });
            $('#limits-button').click(function() {
                var contest = {{.Contest }};
                var problem = {{.Problem }};
                $('#limits-form').attr({
                    'action': '/contests/' + contest["Id"] + '/' + problem["ProblemId"] + '/update/description',
                    'method': 'post'
                });
            });

            $('#add').click(function() {
                /*
                $('#dataset').append('<div class="row"><div class="col-md-2 md-form"> <input type="text" id="label" name="label[]" class="form-control" required="true"> <label for="label" class="">Label</label> </div><div class="col-md-3 form-group"> <label for="data">Input File</label> <input type="file" class="form-control-file" id="data" name="input_data[]" required="true"> </div><div class="col-md-3 form-group"> <label for="data">Output File</label> <input type="file" class="form-control-file" id="data" name="output_data[]" required="true"> </div><div class="col-md-2 md-form"><input type="text" id="weight" name="weight[]" class="form-control" required="true"><label for="weight">Weight</label></div><div class="col-md-1"><br><button class="btn btn-sm btn-danger" onclick="removefunc(this)">remove</button></div></div><div class="col-md-2"><button type="button" class="btn btn-primary" id="edit-update" style="padding: 10px;" value="add" onclick="upload_test()"></button></div>');
            });
            */

var mydiv = `
<div id="new_test" class="jumbotron">
    <div class="row">
        <div class="col-md-6 md-form">
            <input type="text" id="label" name="label" class="form-control" required="true">
            <label for="label">Label</label>
        </div>
        <div class="col-md-6 md-form">
            <input type="text" id="weight" name="weight" class="form-control" required="true">
            <label for="weight">Weight</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="data">Input File</label>
            <input type="file" class="form-control-file" id="data" name="input_data" required="true">
        </div>
        <div class="col-md-6 form-group">
            <label for="data">Output File</label>
            <input type="file" class="form-control-file" id="data" name="output_data" required="true">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-danger" onclick="hide_modal()">remove</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" onclick="upload_test()">Add</button>
        </div>
    </div>
</div>
`;

                $('#dataset').append(mydiv);
            });

/*
function hide_modal() {
    //$('#new_test').empty();
    document.getElementById("new_test").remove();
}
*/

function upload_test() {
    console.log($(this));
}
        </script>

        <script>
            function removefunc(e) {
                e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
            }
        </script>
</body>